@page "/quickgrid"
@inject NavigationManager nm
@rendermode InteractiveServer

<h3>QuickGrid Demo</h3>
<br />
@if (servers is not null)
{
    <QuickGrid @ref="quickGrid" Items="filteredServers.AsQueryable()" Pagination="pagination">
        <PropertyColumn Property="s => s.Name"></PropertyColumn>
        <PropertyColumn Property="s => s.City" Sortable="true">
            <ColumnOptions>
                <input type="search" @bind="cityFilter"
                    @bind:after="ApplyCityFilter"
                    placeholder="Filter by city"
                    class="form-control"/>
            </ColumnOptions>
        </PropertyColumn>
        <TemplateColumn Title="Status" Sortable="true" SortBy="GridSort<Server>.ByAscending(s => s.IsOnline)">
            <span style="color:@(context.IsOnline ? "green" : "red")">@(context.IsOnline ? "online" : "offline")</span> @(context.IsOnline ? $"with {new Random().Next(1, 1000)} peoples" : "")
        </TemplateColumn>
        <TemplateColumn Title="Toggle">
            <button type="button"
                    class="btn @(context.IsOnline ? "btn-outline-danger" : "btn-outline-success")"
                    @onclick="() => { context.IsOnline = !context.IsOnline; }">
                @(context.IsOnline ? "Turn OFF" : "Turn ON")
            </button>
        </TemplateColumn>
        <TemplateColumn>
            <a href="/servers/edit/@context.Id" class="btn btn-outline-primary">Edit</a>
        </TemplateColumn>
        <TemplateColumn>
            <ChildContent Context="server">
                <EditForm Model="server" FormName="@($"form-server-{server.Id}")"
                          OnValidSubmit="@(() => DeleteServer(server.Id))">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </EditForm>
            </ChildContent>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination"></Paginator>
}

@code {
    private QuickGrid<Server>? quickGrid;
    private List<Server>? servers = ServersRepository.GetServres();
    private string cityFilter = string.Empty;
    private List<Server>? filteredServers;
    private PaginationState pagination = new PaginationState()
        {
            ItemsPerPage = 5
        };

    private void DeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServersRepository.DeleteServer(serverId);
            nm.Refresh(true);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        filteredServers = servers;
    }

    private void ApplyCityFilter()
    {
        if (string.IsNullOrWhiteSpace(cityFilter))
        {
            filteredServers = servers;
            return;
        }

        filteredServers = servers?
            .Where(s => s.City.Contains(cityFilter, StringComparison.OrdinalIgnoreCase))
            .ToList() ?? [];

        cityFilter = string.Empty;
    }
}
